---

---
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>InfinitusCognitioTech</title>
</head>
  
<header>
	<img src="/images/LOGO2.png" class="logo" alt="Infinitus Cognitio Tech" />
</header>
  
  <p>This is a website for Infinitus Cognitio Tech</p>
  
  <style>
	
	.logo {
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: contain;
	  height: 140px;
	  width: 370px;
	  position: relative;
	  top: -15px;
	  
	}
  
	body {
	  background-color: rgb(224, 224, 236);
	  background-repeat: no-repeat;
	  background-size: cover;
	  font-family: Arial, Helvetica, sans-serif;
	  
	}
	h1, p {
	  text-align: center;
	}
  </style>
  